.childhood {
	fill: #f06292;
}
.primary {
	fill: #90caf9;
}
.secundary {
	fill: #80cbc4;
}
.highschool {
	fill: #e6ee9c;
}
.work {
	fill: #f57c00;
}
.it {
	fill: #b0bec5;
}
.icomp {
	fill: #ef9a9a;
}
.undef {
	fill: #4a148c;
}